services:
  # API Server
  api-server:
    build:
      context: .
      dockerfile: api-server/Dockerfile
    container_name: api-server
    ports:
      - "8081:8081"
    networks:
      - massive-coupon-network
    env_file:
      - .env.prod
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://127.0.0.1:8081/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"

networks:
  massive-coupon-network:
    driver: bridge

